<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114785678382-43fukk0h1rcablflb01pavohcas10gkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114785678382-43fukk0h1rcablflb01pavohcas10gkp</string>
	<key>API_KEY</key>
	<string>AIzaSyDfFuAg8AvRCk4jzd8JzA1E2ncPILu57M0</string>
	<key>GCM_SENDER_ID</key>
	<string>114785678382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-avi-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-avi-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114785678382:ios:7572b01aca84642ef79bbf</string>
</dict>
</plist>